__pycache__/
venv*/
.vscode/
*.egg-info/
.env
.vscode/
testing.py
.coverage
dist/
build/
OneDrive_offsite-backup-test.txt
*.key
*.tar.gz
priv.pem
pub.pem
onedrivefile.pem
id_rsa
onedrive-offsite.log*
.VSCodeCounter/
backup_file_info*.json
cred_mgr_lock
download_info*.json
extracted_crypt/
sha256hash*
backup_crypt_chunks/
crypt_tar_gz/
oauth2_creds*.json
app_info*.json